*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #4891ff;
    --light-color: #f4f4f6;
    --Dark-color: #111;
}
html{
    overflow-y: scroll;
    overflow-x: hidden;
}
   
body{
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: white;
  overflow-y: scroll;
  
}

 a{
    text-decoration: none;
    color: #333;
 }   

ul{
    list-style: none;
}

img{
    max-width: 100%;
}

/* Navbar */

.navbar{
    background: #fff;
    padding: 20px;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .main-menu ul{
    display: flex;
}

.logo img{
    width: 120px;
}

.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
}

.navbar ul li a:hover{
    color: var(--primary-color);
}

.navbar ul li a i {
    margin-right: 10px;
}

.navbar ul li:last-child a {
    margin-left: 10px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .container-sm{
   max-width: 800px;
   margin: 0 auto;
   padding: 0 15px;
  }

/* Buttons */
.btn{
    display: inline-block;
    padding: 13px 20px;
    background: var(--light-color);
    color: #333;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
}

.btn:hover{
    opacity: 0.8;
}

.btn-primary{
    background: var(--primary-color);
    color:#fff;
    
}

.btn-block{
    display: block;
    width: 100%;
}


/* Text Classes */
.text-xxl{
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-xl{
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;

}

/* .text-xl2{
font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;  
} */

.text-center{
    text-align: center;
}

.text-md{
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px;
}

/* Background */
.bg-black{
background: #000;
color: #fff;
}

.bg-dark{
background: var(--Dark-color);
color: #fff;
}

.bg-light{
    background: var(--light-color);
    color: #333;
}



/* cards */
.card1 {
    background: #fff;
    color: #000;
    border-radius: 10px;
    padding: 20px;
}

.card{
    border-radius: 10px;
    padding: 20px;
}



/* Hero Section */
.hero{
    margin-bottom: 50px;
}

.hero .container{
    background: url(./images/hero-bg.png) no-repeat;
    background-size: contain; 
    background-position: bottom;
    height: 550px;
    
}

.hero .hero-content{
    width: 70%;
}

.hero .hero-text{
    width: 70%;
    margin-bottom: 20px; 
    /* font-size: 1rem; */
} 


/* Video Section */
.video{
    padding: 10px 0 40px;
    
}

.video .video-area{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video .video-preview{
    margin-bottom: 20px;
}



/* Feedback Section*/
.feedback{
    padding: 40px 0;
}

.feedback .feedback-heading{
    width: 700px;
    margin-bottom: 40px;
}

.feedback .feedback-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.feedback .card p:nth-child(2){
    margin-top: 30px;
    font-weight: bold;

}


/* Pricing section */
.pricing .pricing-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 50px;
}

.pricing .pricing-card-subheading{
    margin-bottom: 30px;
}

.pricing .pricing-card-price{
    margin-bottom: 30px;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

.pricing ul{
    margin: 30px 0;
}

.pricing ul li{
    margin-bottom: 20px;
}

.pricing ul li i{
    margin-right: 10px;
}

.pricing .pricing-footer{
    margin: 30px 0;
}


/* FAQ section */
.faq {
padding: 40px 0;
}

.faq .faq-group{
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.faq .faq-group .faq-group-header{
padding: 20px 0;
margin-bottom: 15px;
position: relative;
}

.faq .faq-group .faq-group-header h4{
    font-weight: 600;
    width: 95%;
}

.faq .faq-group .faq-group-header i {
position: absolute;
right: 0;
top: 35px;
font-size: 1.3rem;
cursor: pointer;
}

.faq .faq-group .faq-group-body {
display: none;
}

.faq .faq-group .faq-group-body .open {
display: block;
}

.faq-menu {
    max-width: 400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ddd;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}

 .faq-menu li {
padding: 10px 20px;
border-radius: 5px;
text-align: center;
}

.faq .active{
background: var(--primary-color);
color: #fff;
}

/* Footer */
.footer{
    padding: 40px 0;
}

.footer h4{
    margin-bottom: 10px;

}

.footer ul li{
    line-height: 2.5;
}

.footer a {
color: #ccc;
}

.footer i {
    font-size: 1.5rem;
    margin-right: 10px;
}

.footer-grid {
    display: grid;
    grid-template-columns: 2fr, 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.logo-footer img{
    width: 200px;
}

/* Mobile Menu */

.hamburger {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}


.mobile-menu ul li a {
    text-decoration: none;
    color: #111;
    font-weight: 600;
    font-size: 1.1rem;
  }
  .mobile-menu .btn{
    padding: 10px 20px;
    background-color: rgb(223, 223, 223);
    color: var(--dark-color);
    width: 100%;
    text-align: center;
  }
  .mobile-menu .btn:hover{
    background-color: var(--primary-color);
    color: var(--light-color);
  }

.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 250px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
  padding: 30px 20px;
  z-index: 1000;
}
.mobile-menu ul {
  list-style: none;
  padding: 0;
}
.mobile-menu ul li {
  margin: 20px 0;
}
.mobile-menu ul li a {
  text-decoration: none;
  color: #111;
  font-weight: 600;
  font-size: 1.1rem;
}
.close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
}


/* media queires */
@media (max-width:826px) {
    .container-second{
        padding: 20px 35px;
        
    }
   .hero-heading{
    font-size: 40px;
    font-weight: 600;
   }
   .video-heading, .feedback-heading{
    font-size: 30px;
   }
    
}

@media (max-width:700px) {
    .feedback-heading{
        font-size: 28px;
    }
}

@media (max-width: 670px) {
    .navbar .main-menu{
        display: none;
    }

    .navbar .hamburger{
        display: block;
    }

    .hero .container{
        background: url(./images/hero-bg-mobile.png) no-repeat;
        background-size: 350px 400px;
        background-position: bottom;
        height: 770px;
    }

    .hero .hero-content, .hero .hero-text {
        width: 100%;
        text-align: center;
    }

    .hero .hero-buttons .btn{
        margin-bottom: 10px;
        display: block;
        width: 100%;
        text-align: center;
    }

    .feedback .feedback-heading{
        max-width: 100%;
        text-align: center;
        
    }
    .video-heading{
        font-size: 29px;
    }

    .feedback .feedback-grid, 
    .pricing .pricing-grid, .footer .footer-grid{
        grid-template-columns: 1fr;
    }

    .footer .card{
        margin-right: 0;
    }

    .footer .footer-grid > div {
       text-align: center;
    }

   .pricing-heading{
    font-size: 1.8rem;
   }

   .faq .text-xl{
    font-size: 1.9rem;
   }

   .text-md{
    font-size: 1.1rem;
   }
}

@media (max-width:500px) {
.hero-heading{
    font-size: 2rem;
}

 .feedback .feedback-heading{
        max-width: 100%;
        text-align: center;
        
        
    }

 .feedback-heading{
    font-size: 29px;
 }   

.faq-menu li{
    font-size: 11px;
}

.faq-group-header h4{
    font-size: 11px;
}

.faq-group-body p{
    font-size: 11px;
}

.footer-text {
    font-size: 11px;
}

.footer-logo img{
    width: 150px;
}

}